a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.logo {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.cube-inner {
    width: 100%;
    height: 100%;
    padding: 0;
    top: 50%;
    left: 50%;
    transform-origin: 25px 25px;
    margin: -25px 0 0 -25px;
    transform: rotateX(-33.5deg) rotateY(45deg);
    transform-style: preserve-3d;
    animation: fastspin 10s ease-in-out infinite 2s;
}

/*内部盒子开始*/
.cube-inner, .cube-inner li {
    position: absolute;
    display: block;
}

.cube-inner li {
    width: 50px;
    height: 50px;
    transition: transform 1s ease-in-out;
}

.cube-inner li:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    backface-visibility: hidden;
    background-color: rgba(16, 58, 177, .5);
    transition: transform 1s ease-in-out;
}

.cube-inner .back, .cube-inner .front, .cube-inner .left, .cube-inner .right, .cube-inner .top {
    background: radial-gradient(transparent 30%, rgba(5, 17, 53, .2) 100%);
}

.cube-inner .front {
    transform: translateZ(25px);
}

.cube-inner .back {
    transform: rotateX(-180deg) translateZ(25px);
}

.cube-inner .right {
    transform: rotateY(90deg) translateZ(25px);
}

.cube-inner .left {
    transform: rotateY(-90deg) translateZ(25px);
}

.cube-inner .top {
    transform: rotateX(90deg) translateZ(25px);
}

.cube-inner .bottom {
    transform: rotateX(-90deg) translateZ(25px);
}
/*内部盒子结束*/

/*外部盒子开始*/
.cube {
    width: 100%;
    height: 100%;
    padding: 0;
    transform-origin: 50px 50px;
    transform: rotateX(-33.5deg) rotateY(45deg);
    transform-style: preserve-3d;
    animation: slowspin 10s ease-in-out infinite 2s;
    margin: -50px 0 0 -50px;
    top: 50%;
    left: 50%;
}

.cube, .cube li {
    position: absolute;
    display: block;
}

.cube li {
    width: 75pt;
    height: 75pt;
    transition: transform 1s ease-in-out;
}

.cube li:after {
    content: "";
    display: block;
    position: absolute;
    width: 75pt;
    height: 75pt;
    backface-visibility: hidden;
    background-color: rgba(126,169,232,.5);
    transition: transform 1s ease-in-out;
}

.cube .back, .cube .front, .cube .left, .cube .right, .cube .top {
    background: radial-gradient(transparent 30%,rgba(16,47,91,.2) 100%);
}

.cube .front {
    transform: translateZ(50px);
}

.cube .back {
    transform: rotateX(-180deg) translateZ(50px);
}

.cube .right {
    transform: rotateY(90deg) translateZ(50px);
}

.cube .left {
    transform: rotateY(-90deg) translateZ(50px);
}

.cube .top {
    transform: rotateX(90deg) translateZ(50px);
}

.cube .bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

.cube .floor {
    box-shadow: -300px 0 50px rgba(0,0,0,.3);
    backface-visibility: visible;
    width: 110px;
    height: 110px;
    left: 295px;
    background-color: transparent;
    transform: rotateX(-90deg) translateZ(60px);
}

.cube .floor:after {
    display: none;
}

/*外部盒子结束*/

@keyframes fastspin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    10%, 100% {
        transform: rotateX(-33.5deg) rotateY(-315deg);
    }
}

@-webkit-keyframes fastspin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    10%, 100% {
        transform: rotateX(-33.5deg) rotateY(-315deg);
    }
}

@keyframes slowspin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    10%, 100% {
        transform: rotateX(-33.5deg) rotateY(225deg);
    }
}

@-webkit-keyframes slowspin {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    10%, 100% {
        transform: rotateX(-33.5deg) rotateY(225deg);
    }
}


